:root {
  --c-black: #000;
  --c-black-light: #222222;
  --c-green: #24AB70;
  --c-green-light: rgba(36, 171, 112, 0.1);
  --c-silver: #555555;
  --c-white: #fff;
  --c-white-2:rgba(232, 232, 232, 0.31);
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header__burger {
  background-color: var(--c-green);
  padding: 0 0.3125rem;
  width: 100%;
  max-width: 7%;
  display: grid;
  align-items: center;
  border-radius: 0.625rem;
}
.header__burger a {
  border-bottom: 2px solid var(--c-white);
  display: flex;
  position: relative;
  transition: ease-in 0.25s;
}
.header__burger a::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  top: 0.3125rem;
  border-bottom: 2px solid var(--c-white);
  transition: ease-in 0.25s;
}
.header__burger a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0.1875rem;
  border-bottom: 2px solid var(--c-white);
  transition: ease-in 0.25s;
}
.header .active a {
  border-bottom: 2px solid transparent;
  display: flex;
  position: relative;
  transition: ease-in 0.25s;
}
.header .active a::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  border-bottom: 2px solid var(--c-white);
  transform: rotate(45deg);
  transition: ease-in 0.25s;
}
.header .active a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  border-bottom: 2px solid var(--c-white);
  transform: rotate(-45deg);
  transition: ease-in 0.25s;
}
.header__nav {
  width: 30%;
  top: 2.8125rem;
  gap: 0.625rem;
  border-radius: 0.3125rem;
  padding: 0.3125rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--c-green);
  left: -100%;
  transition: ease-in 0.25s;
}
.header__nav a {
  text-decoration: none;
  color: var(--c-white);
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
}
.header .open {
  transition: ease-in 0.25s;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0.3125rem;
  gap: 0.625rem;
  width: 97%;
}
.header__login {
  text-decoration: none;
  background-color: var(--c-green);
  color: var(--c-white);
  padding: 0.625rem 1.25rem;
  border-radius: 2.1875rem;
}

.container {
  margin: 1.25rem 0.75rem 0;
}

.containerMain {
  padding: 0 1rem;
}
@media (min-width: 700px) {
  .containerMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5rem;
  }
}
@media (min-width: 700px) and (max-width: 1138px) {
  .containerMain {
    padding: 0 2.5rem;
  }
}

@media (min-width: 700px) {
  .containerDesk {
    max-width: 90rem;
  }
}

.banner {
  margin: 2.5rem 0 0;
  position: relative;
}
.banner__content {
  background-color: var(--c-green-light);
  border-radius: 1.5625rem;
}
@media (min-width: 700px) {
  .banner__content {
    display: flex;
    flex-direction: row-reverse;
    border-radius: 3.125rem 3.125rem 0 0;
  }
}
.banner__left {
  padding: 1.875rem 1.5625rem;
  border-radius: 0 0 1.5625rem 1.5625rem;
}
@media (min-width: 700px) {
  .banner__left {
    padding: 5.5rem 40px 208px 60px;
  }
}
.banner__left .title {
  font-family: "Open Sans";
  margin: 0;
  font-weight: 600;
  color: var(--c-black);
  line-height: 3.125rem;
  font-size: 1.6875rem;
}
@media (min-width: 700px) {
  .banner__left .title {
    font-size: 4rem;
  }
}
.banner__left .description {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 2rem;
  color: var(--c-silver);
  margin: 1.875rem 0 3.125rem;
}
@media (min-width: 700px) {
  .banner__left .description {
    font-size: 1.25rem;
  }
}
.banner__left a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: 600;
  color: var(--c-black);
  gap: 1rem;
}
.banner__left a img {
  background-color: rgb(255, 255, 255);
  border-radius: 3.125rem;
}
.banner__imgPrincipal {
  width: 100%;
  border-radius: 1.5625rem 1.5625rem 0 0;
}
@media (min-width: 700px) {
  .banner__imgPrincipal {
    width: 50%;
    height: 41rem;
  }
}
@media (min-width: 700px) and (min-width: 700px) {
  .banner__imgPrincipal {
    border-radius: 0 3.125rem 0 0;
  }
}
@media (min-width: 700px) and (max-width: 1138px) {
  .banner__imgPrincipal {
    height: auto;
  }
}

@media (min-width: 700px) {
  .search {
    top: 0;
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  margin: 1.875rem 0 0;
  gap: 1.875rem 0.625rem;
}
@media (min-width: 700px) {
  .dropdown {
    flex-direction: initial;
    position: absolute;
    bottom: 2.5625rem;
    max-width: 62.5rem;
    right: 8.75rem;
  }
}
@media (min-width: 700px) and (max-width: 1138px) {
  .dropdown {
    flex-direction: column;
    left: 3.125rem;
    bottom: -24.875rem;
  }
}
.dropdown__cover {
  display: flex;
  flex-direction: column;
  box-shadow: none;
  gap: 3.75rem;
}
@media (min-width: 700px) {
  .dropdown__cover {
    display: flex;
    flex-direction: row;
    background: var(--c-white);
    border-radius: 17.5rem;
    gap: 3.75rem;
    height: 6.25rem;
    padding: 0 0 0 1.875rem;
  }
}
@media (min-width: 700px) and (max-width: 1138px) {
  .dropdown__cover {
    border-radius: 3.125rem;
    flex-direction: column;
    height: auto;
    box-shadow: 1px 1px 30px var(--c-silver);
    padding: 1.875rem;
    z-index: 1;
  }
}
.dropdown__location {
  display: flex;
  position: relative;
  gap: 0.625rem;
  width: 100%;
}
@media (min-width: 700px) {
  .dropdown__location {
    width: auto;
    align-items: center;
  }
}
.dropdown__location img {
  height: -moz-fit-content;
  height: fit-content;
}
.dropdown__link {
  margin: 0 0 0.5rem;
  color: var(--c-black-light);
  font-family: sans-serif;
  font-size: 1.25rem;
}
.dropdown__sub {
  margin: 0;
  color: var(--c-silver);
  font-family: sans-serif;
  font-size: 0.875rem;
}
.dropdown__input {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.dropdown__input input {
  border-radius: 0.3125rem;
  padding: 0.3125rem;
  width: 100%;
}
.dropdown__date {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.dropdown__date input {
  border-radius: 0.3125rem;
  padding: 0.3125rem;
  background-color: var(--c-white);
  width: 100%;
}
.dropdown__date3 {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.dropdown__date3 input {
  border-radius: 0.3125rem;
  padding: 0.3125rem;
  background-color: var(--c-white);
  width: 100%;
}
.dropdown__select {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.dropdown__select select {
  border-radius: 0.3125rem;
  padding: 0.3125rem;
  background-color: var(--c-white);
  width: 100%;
}
.dropdown__search {
  background-color: var(--c-green);
  padding: 1.25rem;
  border-radius: 30px;
  color: var(--c-white);
  font-family: "Open Sans";
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  position: relative;
}
@media (min-width: 700px) {
  .dropdown__search {
    border-radius: 17.5rem;
    height: 100px;
    padding: 0 46px;
  }
}
.dropdown__searchInput {
  position: absolute;
  left: -18.75rem;
  transition: ease-in 0.25s;
}
@media (min-width: 700px) {
  .dropdown__searchInput {
    display: none;
  }
}
.dropdown__searchInput input {
  border-radius: 1.875rem;
  height: 2.9375rem;
  padding: 0.625rem;
  width: 100%;
  border: 1px solid #fff;
  box-shadow: 0px 0px 50px black;
}

.hide {
  display: flex;
  top: 1.4375rem;
  justify-content: center;
}

.searchShow {
  display: flex;
  left: 3.125rem;
  transition: ease-in 0.25s;
}

.card {
  padding: 0;
}
@media (min-width: 700px) {
  .card {
    padding: 7.5rem 0 0;
    width: 100%;
  }
}
@media (min-width: 700px) and (max-width: 1138px) {
  .card {
    padding: 458px 0 0;
  }
}
.card__title {
  font-family: "open sans";
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.75rem;
  color: var(--c-black);
}
@media (min-width: 700px) {
  .card__title {
    margin: 0 0 1.25rem;
  }
}
.card__cover {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
@media (min-width: 700px) {
  .card__content {
    display: flex;
    gap: 1.5rem;
  }
}
.card__sub {
  font-family: "open sans";
  font-weight: 400;
  line-height: 1.75rem;
  color: var(--c-silver);
  width: 60%;
}
@media (min-width: 700px) {
  .card__sub {
    width: 38%;
    margin: 0;
  }
}
.card__btn {
  background: rgba(36, 171, 112, 0.1);
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.375rem 1.5625rem;
  border-radius: 17.5rem;
  text-decoration: none;
  color: var(--c-green);
  font-family: "open sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75rem;
}
.card__figure {
  margin: 2.5rem 0 0;
  background: #fafafa;
  border-radius: 16px;
}
@media (min-width: 700px) {
  .card__figure {
    width: 100%;
  }
}
.card__figure img {
  border-radius: 16px 16px 0 0;
  width: 100%;
}
.card__figCover {
  padding: 0 1rem 2.375rem;
}
@media (min-width: 700px) {
  .card__figCover {
    padding: 1.5rem 0px 38px 16px;
  }
}
.card__figureCategoria {
  color: var(--c-green);
  font-size: 0.75rem;
  font-family: "open sans";
}
.card__figureLink {
  font-family: "open sans";
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--c-black);
  text-decoration: none;
}
.card__price {
  font-family: "open sans";
  font-size: 400;
  color: var(--c-black);
  font-size: 1rem;
}

.leisure__title {
  font-family: "open sans";
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--c-black);
}
.leisure__sub {
  font-family: "open sans";
  font-size: 1rem;
  font-weight: 400;
  color: var(--c-silver);
  margin: 0.625rem 0 3.125rem;
}
.leisure__bnt {
  font-family: "open sans";
  font-size: 1rem;
  font-weight: 600;
  color: var(--c-white);
  background: var(--c-green);
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 2.1875rem;
}
.leisure__options {
  margin: 9.1875rem 0 0;
}
.leisure__options ul {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  padding: 0;
  gap: 1.5rem;
  justify-content: center;
}
.leisure__select {
  display: flex;
  width: 12.0625rem;
  height: 12.0625rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 15px 1px rgb(232, 232, 232);
}
.leisure__select a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-family: "open sans";
  font-weight: 400;
  font-size: 1rem;
  color: var(--c-black-light);
  gap: 1.5rem;
}

.about figure {
  margin: 0;
  background: #F4FBF8;
  border-radius: 1rem;
}
.about figcaption {
  padding: 0.625rem 0.625rem 2.1875rem 0.625rem;
}
.about img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
.about__title {
  font-family: "open sans";
  font-weight: 600;
  font-size: 2.5rem;
  color: var(--c-black);
}
.about__description {
  margin: 0 0 3.125rem;
}
.about p {
  font-family: "open sans";
  font-weight: 400;
  font-size: 1rem;
  color: var(--c-silver);
}
.about a {
  background: var(--c-green);
  text-decoration: none;
  color: var(--c-white);
  font-family: "open sans";
  font-weight: 600;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 2.1875rem;
}

.comment figure {
  margin: 0;
  background: #fafafa;
  border-radius: 1rem;
}
.comment__description {
  font-family: "open sans";
  font-weight: 400;
  font-size: 1rem;
  color: var(--c-silver);
  padding: 3.125rem;
}
.comment__description::before {
  content: url("../../image/aspas.png");
  position: absolute;
  left: 1.5625rem;
}
.comment__description::after {
  content: url("../../image/aspas1.png");
  position: absolute;
  right: 1.5625rem;
}
.comment__author {
  font-family: "open sans";
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--c-black);
  padding: 0 0 0 3.125rem;
  margin: 0.4375rem 0;
}
.comment__profession {
  font-family: "open sans";
  font-weight: 400;
  font-size: 1rem;
  color: var(--c-silver);
  padding: 0 0 0 3.125rem;
  margin: 0.75rem 0;
}
.comment img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.footer {
  padding-top: 200px;
  padding-bottom: 3.9375rem;
}
.footer__social {
  font-family: "open sans";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: var(--c-silver);
}
.footer__socialLink {
  display: flex;
  justify-content: space-around;
}
.footer__title {
  font-family: "open sans";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--c-black);
  text-align: center;
}
.footer__homeLink {
  display: none;
  background: var(--c-white-2);
  border-radius: 1rem;
}
.footer__homeLink a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-family: "open sans";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--c-black-light);
  text-align: center;
  padding: 1rem;
}
.footer__helpLink {
  display: none;
  background: var(--c-white-2);
  border-radius: 1rem;
}
.footer__helpLink a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-family: "open sans";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--c-black-light);
  text-align: center;
  padding: 1rem;
}
.footer__getAppLink {
  display: none;
  background: var(--c-white-2);
  border-radius: 1rem;
}
.footer__getAppLink a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-family: "open sans";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--c-black-light);
  text-align: center;
  padding: 1rem;
}

.homeShow {
  display: block;
}/*# sourceMappingURL=style.css.map */