:root {
  --c-black: #000;
  --c-black-light: #222222;
  --c-green: #24AB70;
  --c-green-light: rgba(36, 171, 112, 0.1);
  --c-silver: #555555;
  --c-white: #fff;
  --c-white-2:rgba(232, 232, 232, 0.31);
}

.header {
  display: flex;
  padding: 0;
  position: fixed;
  width: 94%;
  justify-content: space-between;
  padding: 16px;
  background-color: var(--c-white);
  z-index: 1001;
  top: 0;
  margin: 0;
}
@media (min-width: 700px) {
  .header {
    justify-content: center;
    padding-inline: 5rem;
    position: relative;
    padding: 0;
    margin: 40px 0 0;
  }
}
.header__cover {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.header__burger {
  background-color: var(--c-green);
  padding: 0 0.3125rem;
  width: 100%;
  max-width: 7%;
  display: grid;
  align-items: center;
  border-radius: 0.625rem;
}
.header__burger a {
  border-bottom: 2px solid var(--c-white);
  display: flex;
  position: relative;
  transition: ease-in 0.25s;
}
.header__burger a::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  top: 0.3125rem;
  border-bottom: 2px solid var(--c-white);
  transition: ease-in 0.25s;
}
.header__burger a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0.1875rem;
  border-bottom: 2px solid var(--c-white);
  transition: ease-in 0.25s;
}
@media (min-width: 700px) {
  .header__burger {
    display: none;
  }
}
.header .active.open {
  border-bottom: 2px solid transparent;
  display: flex;
  position: relative;
  transition: ease-in 0.25s;
}
.header .active.open::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  border-bottom: 2px solid var(--c-white);
  transform: rotate(45deg);
  transition: ease-in 0.25s;
}
.header .active.open::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  border-bottom: 2px solid var(--c-white);
  transform: rotate(-45deg);
  transition: ease-in 0.25s;
}
.header__nav {
  width: 30%;
  top: 2.8125rem;
  gap: 0.625rem;
  border-radius: 0.3125rem;
  padding: 0.3125rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--c-green);
  left: -100%;
  z-index: 1;
  transition: ease-in 0.25s;
}
@media (min-width: 700px) {
  .header__nav {
    position: initial;
    flex-direction: row;
    background: transparent;
    gap: 2.5rem;
    width: 100%;
    justify-content: center;
  }
}
.header__nav a {
  text-decoration: none;
  color: var(--c-white);
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}
@media (min-width: 700px) {
  .header__nav a {
    color: var(--c-black-light);
    line-height: 1.5rem;
  }
}
.header__nav.open {
  transition: ease-in 0.25s;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 0.3125rem;
  gap: 0.625rem;
  width: 97%;
  z-index: 1;
}
@media (min-width: 700px) {
  .header__nav.open {
    position: initial;
    flex-direction: row;
    background: transparent;
    gap: 2.5rem;
    width: 100%;
    justify-content: center;
  }
}
.header__login {
  text-decoration: none;
  background-color: var(--c-green);
  color: var(--c-white);
  padding: 0.625rem 1.25rem;
  border-radius: 2.1875rem;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "open sans";
  line-height: 1.25rem;
}

.container {
  margin: 1.25rem 0.75rem 0;
}
@media (min-width: 700px) {
  .container {
    margin: 40px 0 0;
  }
}

.containerMain {
  padding: 0 1rem;
}
@media (min-width: 700px) {
  .containerMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5rem;
  }
}
@media (min-width: 700px) and (max-width: 1220px) {
  .containerMain {
    padding: 0 2.5rem;
  }
}

@media (min-width: 700px) {
  .containerDesk {
    max-width: 90rem;
  }
}

.banner {
  margin: 2.5rem 0 0;
  width: 100%;
  position: relative;
}
.banner__content {
  background-color: var(--c-green-light);
  border-radius: 1.5625rem;
}
@media (min-width: 700px) {
  .banner__content {
    display: flex;
    flex-direction: row-reverse;
    border-radius: 3.125rem 3.125rem 0 0;
  }
}
.banner__left {
  padding: 16px;
  border-radius: 0 0 1.5625rem 1.5625rem;
}
@media (min-width: 700px) {
  .banner__left {
    padding: 5.5rem 0px 208px 0px;
    width: 50%;
  }
}
.banner__left .title {
  font-family: "Open Sans";
  margin: 0;
  font-weight: 600;
  color: var(--c-black);
  line-height: 40px;
  font-size: 1.6875rem;
}
@media (min-width: 700px) {
  .banner__left .title {
    font-size: 4rem;
    padding: 0 40px 0 60px;
    line-height: 5rem;
  }
}
.banner__left .description {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 25px;
  color: var(--c-silver);
  margin: 1.25rem 0 2.5rem;
}
@media (min-width: 700px) {
  .banner__left .description {
    font-size: 1.25rem;
    padding: 0 40px 0 60px;
    line-height: 2rem;
  }
}
.banner__left a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: 600;
  color: var(--c-black);
  gap: 1rem;
}
@media (min-width: 700px) {
  .banner__left a {
    padding: 0 40px 0 60px;
  }
}
.banner__left a img {
  background-color: rgb(255, 255, 255);
  border-radius: 3.125rem;
}
.banner__imgPrincipal {
  width: 100%;
  border-radius: 1.5625rem 1.5625rem 0 0;
}
@media (min-width: 700px) {
  .banner__imgPrincipal {
    width: 50%;
  }
}
@media (min-width: 700px) and (min-width: 700px) {
  .banner__imgPrincipal {
    border-radius: 0 3.125rem 0 0;
  }
}
@media (min-width: 700px) and (max-width: 1220px) {
  .banner__imgPrincipal {
    height: auto;
  }
}

@media (min-width: 700px) {
  .search {
    top: 0;
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  margin: 100px 0 0;
  gap: 1.875rem 0.625rem;
}
@media (min-width: 700px) {
  .dropdown {
    flex-direction: initial;
    position: absolute;
    bottom: 2.5625rem;
    justify-content: center;
    width: 100%;
  }
}
@media (min-width: 700px) and (max-width: 1220px) {
  .dropdown {
    position: initial;
    flex-direction: column;
    bottom: -24.875rem;
  }
}
.dropdown__cover {
  display: flex;
  flex-direction: column;
  box-shadow: none;
  border: none;
}
.dropdown__cover p {
  margin: 0 0 50px;
}
@media (min-width: 700px) {
  .dropdown__cover p {
    margin: none;
  }
}
@media (min-width: 700px) {
  .dropdown__cover {
    display: flex;
    flex-direction: row;
    background: var(--c-white);
    border-radius: 17.5rem;
    height: 6.25rem;
    padding: 0px;
    border: none;
    align-items: center;
  }
}
@media (min-width: 700px) and (max-width: 1220px) {
  .dropdown__cover {
    border-radius: 3.125rem;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    height: auto;
    box-shadow: 1px 1px 30px var(--c-silver);
    padding: 1.875rem;
    z-index: 1;
  }
}
.dropdown__location {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  gap: 30px;
}
@media (min-width: 700px) {
  .dropdown__location {
    width: auto;
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
  }
}
.dropdown__location img {
  height: -moz-fit-content;
  height: fit-content;
}
.dropdown__img {
  height: 24px;
}
.dropdown__link {
  margin: 0 0 0.5rem;
  color: var(--c-black-light);
  font-family: sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}
.dropdown p {
  display: flex;
}
@media (min-width: 700px) {
  .dropdown p {
    display: flex;
    border-right: 1px solid #E8E8E8;
    padding-inline: 30px;
    margin: 0px;
    gap: 10px;
  }
}
@media (min-width: 700px) and (max-width: 1220px) {
  .dropdown p {
    border-right: none;
  }
}
.dropdown select {
  border: none;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: var(--c-silver);
}
.dropdown input {
  border: none;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: var(--c-silver);
}
.dropdown__searchSubmit {
  border: none;
  background-color: var(--c-green);
  padding: 1.25rem;
  border-radius: 30px;
  color: var(--c-white);
  font-family: "Open Sans";
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  position: relative;
  width: 50%;
}
@media (min-width: 700px) {
  .dropdown__searchSubmit {
    border-radius: 17.5rem;
    height: 100px;
    padding: 0 46px;
  }
}
@media (min-width: 700px) and (max-width: 1220px) {
  .dropdown__searchSubmit {
    border-radius: 17.5rem;
    height: 60px;
    padding: 0 30px;
    width: auto;
  }
}

.hide {
  display: flex;
  top: 1.4375rem;
  justify-content: center;
}

.searchShow {
  display: flex;
  left: 3.125rem;
  transition: ease-in 0.25s;
}

.card {
  padding: 0;
  margin-top: 100px;
}
@media (min-width: 700px) {
  .card {
    padding: 7.5rem 0 0;
    width: 100%;
    margin-top: 0;
  }
}
@media (min-width: 700px) and (max-width: 1220px) {
  .card {
    padding: 120px 0 0;
  }
}
.card__title {
  font-family: "open sans";
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 40px;
  color: var(--c-black);
}
@media (min-width: 700px) {
  .card__title {
    margin: 0 0 1.25rem;
    line-height: 3.75rem;
  }
}
.card__cover {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
@media (min-width: 700px) {
  .card__content {
    display: flex;
    gap: 1.5rem;
  }
}
.card__sub {
  font-family: "open sans";
  font-weight: 400;
  line-height: 25px;
  color: var(--c-silver);
  width: 60%;
}
@media (min-width: 700px) {
  .card__sub {
    width: 38%;
    margin: 0;
    line-height: 1.75rem;
  }
}
.card__btn {
  background: rgba(36, 171, 112, 0.1);
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.375rem 1.5625rem;
  border-radius: 17.5rem;
  text-decoration: none;
  color: var(--c-green);
  font-family: "open sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
@media (min-width: 700px) {
  .card__btn {
    line-height: 1.75rem;
  }
}
.card__list {
  width: 100%;
}
.card__figure {
  margin: 2.5rem 0 0;
  background: #fafafa;
  border-radius: 16px;
}
@media (min-width: 700px) {
  .card__figure {
    width: 100%;
  }
  .card__figure:hover {
    box-shadow: 0px 0px 15px 1px rgb(232, 232, 232);
    cursor: pointer;
  }
}
.card__figure img {
  border-radius: 16px 16px 0 0;
  width: 100%;
}
.card__figCover {
  padding: 0 1rem 2.375rem;
}
@media (min-width: 700px) {
  .card__figCover {
    padding: 1.5rem 0px 38px 16px;
  }
}
.card__figureCategoria {
  color: var(--c-green);
  font-size: 0.75rem;
  font-family: "open sans";
}
.card__figureLink {
  font-family: "open sans";
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--c-black);
  text-decoration: none;
}
.card__price {
  font-family: "open sans";
  font-size: 400;
  color: var(--c-black);
  font-size: 1rem;
}

.leisure {
  margin-top: 100px;
}
@media (min-width: 700px) {
  .leisure {
    display: flex;
    padding: 9.1875rem 0 0;
    margin-top: 0;
  }
}
.leisure__title {
  font-family: "open sans";
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 40px;
  color: var(--c-black);
}
@media (min-width: 700px) {
  .leisure__title {
    margin: 0 0 1.25rem;
    line-height: 3.125rem;
  }
}
.leisure__sub {
  font-family: "open sans";
  font-size: 1rem;
  font-weight: 400;
  color: var(--c-silver);
  margin: 0.625rem 0 3.125rem;
  line-height: 1.75rem;
}
.leisure__bnt {
  font-family: "open sans";
  font-size: 1rem;
  font-weight: 600;
  color: var(--c-white);
  background: var(--c-green);
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 2.1875rem;
}
.leisure__options {
  margin: 9.1875rem 0 0;
}
@media (min-width: 700px) {
  .leisure__options {
    margin: 0;
  }
}
.leisure__options ul {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  padding: 0;
  gap: 1.5rem;
  justify-content: center;
}
.leisure__select {
  display: flex;
  width: 12.0625rem;
  height: 12.0625rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgb(232, 232, 232);
}
@media (max-width: 449px) {
  .leisure__select {
    width: 9.0625rem;
    height: 9.0625rem;
  }
}
@media (max-width: 349px) {
  .leisure__select {
    width: 7.0625rem;
    height: 7.0625rem;
  }
}
.leisure__select:hover {
  box-shadow: 0px 0px 15px 1px rgb(232, 232, 232);
  cursor: pointer;
}
.leisure__select a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-family: "open sans";
  font-weight: 400;
  font-size: 1rem;
  color: var(--c-black-light);
  gap: 1.5rem;
}

.about {
  padding: 120px 0 0;
}
@media (min-width: 700px) {
  .about {
    padding: 7.5rem 0 0;
  }
}
.about figure {
  margin: 0;
  background: #F4FBF8;
  border-radius: 1rem;
}
@media (min-width: 700px) {
  .about figure {
    display: flex;
    gap: 4.375rem;
  }
}
.about figcaption {
  padding: 0.625rem 0.625rem 2.1875rem 0.625rem;
}
@media (min-width: 700px) {
  .about figcaption {
    padding: 4.75rem 85px 0 0;
  }
}
.about img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
@media (min-width: 700px) {
  .about img {
    border-radius: 1rem 0 0 16px;
    width: 50%;
  }
}
.about__title {
  font-family: "open sans";
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 40px;
  color: var(--c-black);
}
@media (min-width: 700px) {
  .about__title {
    margin: 0 0 1.25rem;
    line-height: 3.125rem;
  }
}
.about__description {
  margin: 0 0 3.125rem;
}
.about p {
  font-family: "open sans";
  font-weight: 400;
  font-size: 1rem;
  color: var(--c-silver);
  line-height: 1.75rem;
}
.about a {
  background: var(--c-green);
  text-decoration: none;
  color: var(--c-white);
  font-family: "open sans";
  font-weight: 600;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 2.1875rem;
}

.about-us {
  width: 100%;
  margin: 124px 0 0;
}
.about-us img {
  filter: drop-shadow(0px 0.698649px 16.0689px rgba(0, 0, 0, 0.25));
  width: 100%;
  border-radius: 37px;
}
.about-us__container {
  display: flex;
  flex-direction: column;
  background-color: var(--c-green-light);
  border-radius: 37px;
  gap: 63px;
}
@media (min-width: 700px) {
  .about-us__container {
    display: flex;
    flex-direction: row;
    gap: 126px;
  }
}
@media (min-width: 700px) and (max-width: 1090px) {
  .about-us__container {
    flex-direction: column;
  }
}
.about-us__title {
  font-family: " Open Sans";
  font-size: 37px;
  font-weight: 600;
  line-height: 46px;
  color: var(--c-black);
  margin: 0 0 18px;
  padding-inline: 20px;
}
@media (min-width: 700px) {
  .about-us__title {
    padding-inline: 0;
  }
}
.about-us .paragraph {
  margin: 21px 0 30px 0;
}
.about-us__pragraph {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: var(--c-black);
  margin: 0;
  padding-inline: 20px;
}
@media (min-width: 700px) {
  .about-us__pragraph {
    max-width: 461.67px;
    padding: 0px;
    padding-inline: 0;
  }
}
.about-us__cover {
  padding-bottom: 79px;
}
@media (min-width: 700px) {
  .about-us__cover {
    padding: 82px 79px 79px 0;
    width: 100%;
  }
}
@media (min-width: 700px) and (max-width: 1090px) {
  .about-us__cover {
    padding: 0px 79px 79px 79px;
    width: auto;
  }
}
.about-us__link {
  text-decoration: none;
  background-color: var(--c-green);
  color: var(--c-white);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  padding: 13px 25px;
  border-radius: 37px;
  margin-inline: 20px;
}
@media (min-width: 700px) {
  .about-us__link {
    margin-inline: 0;
  }
}

.comment figure {
  background: #fafafa;
  border-radius: 1rem;
  margin: 120px 0 0;
}
@media (min-width: 700px) {
  .comment figure {
    display: flex;
    flex-direction: row-reverse;
    margin: 120px 0 0;
  }
}
.comment__cover {
  padding: 0 0 50px;
}
@media (min-width: 700px) {
  .comment__cover {
    padding: 0;
  }
}
.comment__description {
  font-family: "open sans";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: var(--c-silver);
  padding: 3.125rem;
  position: relative;
}
@media (min-width: 700px) {
  .comment__description {
    padding: 65px 139px 57px 109px;
    margin: 0;
  }
}
@media (min-width: 700px) and (max-width: 1220px) {
  .comment__description {
    padding: 33px 69px 28px 54px;
    line-height: 1.75rem;
  }
}
.comment__description::before {
  content: url("../../image/aspas.png");
  position: absolute;
  left: 1.5625rem;
}
@media (min-width: 700px) {
  .comment__description::before {
    left: 79px;
  }
}
@media (min-width: 700px) and (max-width: 1220px) {
  .comment__description::before {
    left: 24px;
  }
}
.comment__description::after {
  content: url("../../image/aspas1.png");
  position: absolute;
  right: 1.5625rem;
}
@media (min-width: 700px) {
  .comment__description::after {
    right: 111px;
  }
}
@media (min-width: 700px) and (max-width: 1220px) {
  .comment__description::after {
    right: 42px;
  }
}
.comment__author {
  font-family: "open sans";
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--c-black);
  padding: 0 0 0 3.125rem;
  margin: 0.4375rem 0;
}
@media (min-width: 700px) {
  .comment__author {
    padding: 0 0 0 109px;
  }
}
.comment__profession {
  font-family: "open sans";
  font-weight: 400;
  font-size: 1rem;
  color: var(--c-silver);
  padding: 0 0 0 3.125rem;
  margin: 0.75rem 0;
}
@media (min-width: 700px) {
  .comment__profession {
    padding: 0 0 67px 109px;
  }
}
.comment img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
@media (min-width: 700px) {
  .comment img {
    border-radius: 0rem 1rem 1rem 0rem;
  }
}

#map {
  height: 300px;
  width: 100%;
}
@media (min-width: 700px) {
  #map {
    height: 677px;
    width: 100%;
  }
}

.location__container {
  width: 100%;
}
@media (min-width: 700px) {
  .location__container {
    position: relative;
  }
}

.location {
  margin-top: 200px;
}
.location__hotel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: static;
  gap: 40px;
  background-color: var(--c-white);
  z-index: 999;
  bottom: 0px;
  right: 0;
  left: 0;
  margin-inline: 5px;
  border-radius: 16px;
  padding: 8px 12px;
  align-items: end;
}
@media (min-width: 700px) {
  .location__hotel {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-inline: 43px;
    gap: 166px;
    padding: 44px 66px;
    bottom: 43px;
  }
}
@media (min-width: 700px) and (max-width: 1220px) {
  .location__hotel {
    display: flex;
    flex-direction: column;
    position: static;
    gap: 30px;
    padding: 30px 0 0;
    margin: 0;
  }
}
.location__title {
  font-family: "open sans";
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 40px;
  color: var(--c-black-light);
  margin: 0;
}
@media (min-width: 700px) {
  .location__title {
    font-size: 36px;
  }
}
.location__sub {
  font-family: "open sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--c-silver);
  max-width: 31.875rem;
}
@media (min-width: 700px) {
  .location__sub {
    font-size: 16px;
  }
}
.location__info {
  width: 100%;
}
@media (min-width: 700px) {
  .location__info {
    width: 100%;
  }
}
.location__form {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
@media (min-width: 700px) {
  .location__form {
    flex-direction: row;
    width: 100%;
  }
}
.location__input {
  border-radius: 50px;
  border: none;
  background-color: #fafafa;
  padding: 14px 24px;
  width: 100%;
}
@media (min-width: 700px) {
  .location__input {
    width: 100%;
  }
}
@media (min-width: 700px) and (max-width: 1220px) {
  .location__input {
    width: auto;
  }
}
.location__input::-moz-placeholder {
  font-family: "open sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: var(--c-silver);
}
.location__input::placeholder {
  font-family: "open sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: var(--c-silver);
}
.location__btn {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--c-white);
  letter-spacing: 0em;
  background-color: var(--c-green);
  border: none;
  border-radius: 50px;
  padding: 10px 32px;
}
@media (min-width: 700px) {
  .location__btn {
    text-align: left;
  }
}

.footer {
  padding-top: 100px;
  padding-bottom: 30px;
}
@media (min-width: 700px) {
  .footer {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 3.9375rem;
  }
}
@media (min-width: 700px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    max-width: 1062px;
  }
}
.footer__social {
  font-family: "open sans";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: var(--c-silver);
}
@media (min-width: 700px) {
  .footer__social {
    max-width: 16.5rem;
  }
}
.footer__socialLink {
  display: flex;
  justify-content: space-around;
}
.footer__title {
  font-family: "open sans";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--c-black);
}
@media (min-width: 700px) {
  .footer__title {
    margin: 0 0 25px;
  }
}
.footer__homeLink {
  display: none;
  background: var(--c-white-2);
  border-radius: 1rem;
}
.footer__homeLink.open {
  display: block;
}
@media (min-width: 700px) {
  .footer__homeLink {
    display: flex;
    flex-direction: column;
    background: transparent;
  }
}
.footer__homeLink a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-family: "open sans";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--c-black-light);
  padding: 1rem;
}
@media (min-width: 700px) {
  .footer__homeLink a {
    padding: 0 0 16px;
  }
}
.footer__helpLink {
  display: none;
  background: var(--c-white-2);
  border-radius: 1rem;
}
.footer__helpLink.open {
  display: block;
}
@media (min-width: 700px) {
  .footer__helpLink {
    display: flex;
    flex-direction: column;
    background: transparent;
  }
}
.footer__helpLink a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-family: "open sans";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--c-black-light);
  padding: 1rem;
}
@media (min-width: 700px) {
  .footer__helpLink a {
    padding: 0 0 16px;
  }
}
.footer__getAppLink {
  display: none;
  background: var(--c-white-2);
  border-radius: 1rem;
}
.footer__getAppLink.open {
  display: block;
}
@media (min-width: 700px) {
  .footer__getAppLink {
    display: flex;
    flex-direction: column;
    background: transparent;
  }
}
.footer__getAppLink a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-family: "open sans";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--c-black-light);
  padding: 1rem;
}
@media (min-width: 700px) {
  .footer__getAppLink a {
    padding: 0 0 16px;
  }
}

.homeShow {
  display: block;
}

.category {
  margin: 160px 0 0;
}
@media (min-width: 700px) {
  .category {
    display: flex;
    width: 100%;
    max-width: 1192px;
    margin: 160px 0 0;
    gap: 86px;
  }
}
@media (min-width: 700px) and (max-width: 1090px) {
  .category {
    display: flex;
    flex-direction: column;
  }
}
.category__mobilia {
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: relative;
  width: 100%;
}
.category__imgPrincipal {
  width: 100%;
  height: -webkit-fill-available;
  border-radius: 20px;
}
.category__imgList {
  border-radius: 20px;
  margin-right: 0 !important;
}
.category__imgSegundario {
  background-color: yellow;
  border-radius: 20px;
}
.category__inform {
  width: 100%;
}
.category__tag {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--c-green);
  margin: 0;
}
.category__title {
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: 600;
  line-height: 35px;
  color: var(--c-black-light);
  margin: 9px 0 28px;
}
.category__price {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: var(--c-black-light);
  margin: 0;
}
.category__description {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--c-black);
  margin: 41px 0 0;
}
.category__bntCover {
  display: flex;
  justify-content: end;
}
.category__bnt {
  text-decoration: none;
  background-color: var(--c-green);
  color: var(--c-white);
  max-width: 205px;
  padding: 9px 40px;
  border-radius: 26px;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  margin: 65px 0 0;
}

.ajuste {
  justify-content: end;
  gap: 50px;
}

.categoryComments {
  margin: 0rem;
}
@media (min-width: 700px) {
  .categoryComments {
    position: absolute;
    background: var(--c-white);
    width: 100%;
    max-width: 288px;
    border-radius: 6px;
    padding: 20px 0px 20px 20px;
    bottom: -60px;
    left: -107px;
    box-shadow: 8px 8px 49px rgba(25, 57, 70, 0.25);
    z-index: 1;
  }
}
@media (min-width: 700px) and (max-width: 1446px) {
  .categoryComments {
    margin: 0 5rem;
  }
}
.categoryComments__user {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-bottom: 15px;
}
.categoryComments__name {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #021C1C;
  margin: 0px;
}
.categoryComments__cargo {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #3E5658;
  margin: 8px 0 0;
}
.categoryComments__commentsLabel {
  width: 100%;
}
.categoryComments__ratImg {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
}
@media (min-width: 700px) {
  .categoryComments__ratImg {
    display: flex;
    position: relative;
    align-items: end;
    flex-direction: initial;
  }
}
.categoryComments__img {
  width: 50px;
  height: auto;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid var(--c-silver);
  right: -28px;
  top: -47px;
  background-color: var(--c-white);
}
@media (min-width: 700px) {
  .categoryComments__img {
    position: absolute;
  }
}
.categoryComments__rating {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--c-green);
  margin: 0;
}
.categoryComments__description {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: #122237;
  margin: 0px;
}

.frequentlyAsked {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 114px 0 0;
}
.frequentlyAsked__container {
  display: flex;
  flex-direction: column;
  max-width: 1175px;
}
@media (min-width: 700px) {
  .frequentlyAsked__container {
    flex-direction: row;
    gap: 77px;
  }
}
.frequentlyAsked__left {
  width: 100%;
}
.frequentlyAsked__leftTitle {
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  color: #0C1623;
  margin: 0;
}
@media (min-width: 700px) {
  .frequentlyAsked__leftTitle {
    font-size: 48px;
    line-height: 62px;
  }
}
.frequentlyAsked .underlined {
  color: var(--c-green);
}
.frequentlyAsked__leftDescription {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #101C26;
  margin: 17px 0;
}
.frequentlyAsked .rightTitle {
  display: flex;
  font-family: "Open Sans";
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  color: #0C1623;
  margin: 0;
}
.frequentlyAsked .rightTitle::after {
  content: "";
  background-image: url("/image/down.png");
  background-size: 100% 100%;
  width: 36px;
}
.frequentlyAsked .rightTitle.open {
  font-weight: 600;
}
.frequentlyAsked .rightTitle.open::after {
  content: "";
  background-image: url("/image/down.png");
  transform: rotate(180deg);
  background-size: 100% 100%;
  width: 36px;
}
.frequentlyAsked .rightTitle-1 {
  display: flex;
  font-family: "Open Sans";
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  color: #0C1623;
  margin: 0;
}
.frequentlyAsked .rightTitle-1::after {
  content: "";
  background-image: url("/image/down.png");
  background-size: 100% 100%;
  width: 36px;
}
.frequentlyAsked .rightTitle-1.open {
  font-weight: 600;
}
.frequentlyAsked .rightTitle-1.open::after {
  content: "";
  background-image: url("/image/down.png");
  transform: rotate(180deg);
  background-size: 100% 100%;
  width: 36px;
}
.frequentlyAsked .rightTitle-2 {
  display: flex;
  font-family: "Open Sans";
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  color: #0C1623;
  margin: 0;
}
.frequentlyAsked .rightTitle-2::after {
  content: "";
  background-image: url("/image/down.png");
  background-size: 100% 100%;
  width: 36px;
}
.frequentlyAsked .rightTitle-2.open {
  font-weight: 600;
}
.frequentlyAsked .rightTitle-2.open::after {
  content: "";
  background-image: url("/image/down.png");
  transform: rotate(180deg);
  background-size: 100% 100%;
  width: 36px;
}
.frequentlyAsked__right {
  width: 100%;
}
.frequentlyAsked__response {
  display: none;
}
.frequentlyAsked__response.open {
  display: block;
}
.frequentlyAsked__response-1 {
  display: none;
}
.frequentlyAsked__response-1.open {
  display: block;
}
.frequentlyAsked__response-2 {
  display: none;
}
.frequentlyAsked__response-2.open {
  display: block;
}
.frequentlyAsked .rightCover {
  border: 1px solid #585858;
  padding: 25px 24px 25px 30px;
  margin-bottom: 25px;
  border-radius: 5px;
}
.frequentlyAsked .answer {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #1D263A;
}/*# sourceMappingURL=style.css.map */