:root{
    --c-black: #000;
    --c-black-light: #222222;
    --c-green: #24AB70;
    --c-green-light: rgba(36, 171, 112, 0.1);
    --c-silver: #555555;
    --c-white: #fff;
    --c-white-2:rgba(232, 232, 232, 0.31);
}