.about {
    figure {
        margin: 0;
        background: #F4FBF8;
        border-radius: 1rem;
    }

    figcaption {
        padding: .625rem .625rem 2.1875rem .625rem;
    }

    img {
        width: 100%;
        border-radius: 1rem 1rem 0 0;
    }

    &__title {
        font-family: "open sans";
        font-weight: 600;
        font-size: 2.5rem;
        color: var(--c-black);
    }

    &__description {
        margin: 0 0 3.125rem;
    }

    p {
        font-family: "open sans";
        font-weight: 400;
        font-size: 1rem;
        color: var(--c-silver);
    }

    a {
        background: var(--c-green);
        text-decoration: none;
        color: var(--c-white);
        font-family: "open sans";
        font-weight: 600;
        font-size: 1rem;
        padding: 1rem 2rem;
        border-radius: 2.1875rem;

    }
}