.banner {
    margin: 2.5rem 0 0;
    &__content{

        background-color: var(--c-green-light);
        border-radius: 1.5625rem;
        @include desk{
            display: flex;
            flex-direction: row-reverse;
            border-radius: 3.125rem 3.125rem 0 0;
        }
    }
    &__left {
        padding: 1.875rem 1.5625rem;
        border-radius: 0 0 1.5625rem 1.5625rem;
        @include desk{
            padding: 5.5rem 40px 208px 60px;
        }

        .title {
            font-family: "Open Sans";
            margin: 0;
            font-weight: 600;
            color: var(--c-black);
            line-height: 3.125rem;
            font-size: 1.6875rem;
            @include desk {
                font-size: 4rem;
            }

        }

        .description {
            font-family: "Open Sans";
            font-weight: 400;
            font-size: .9375rem;
            line-height: 2rem;
            color: var(--c-silver);
            margin: 1.875rem 0 3.125rem;
            @include desk{
                font-size: 1.25rem;
            }
        }

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            font-family: "Open Sans";
            font-weight: 600;
            color: var(--c-black);
            gap: 1rem;

            img {
                background-color: rgba(255, 255, 255, 1);
                border-radius: 3.125rem;
                
            }
        }
    }

    &__imgPrincipal {
        width: 100%;
        border-radius: 1.5625rem 1.5625rem 0 0;
        @include desk{
            width: 50%;
            height: 41rem;
            @include desk{
                border-radius: 0 3.125rem 0 0;
            }
        }
        @include desk2{
            height: auto;
        }
    }
    position: relative;
}

//-------------DROPDOWN--------------
.search{
    @include desk{
        // position: absolute !important;
        // padding: 2.375rem 2.875rem !important;
        top: 0;        

    }
}
.dropdown {
    display: flex;
    flex-direction: column;
    margin: 1.875rem 0 0;
    gap: 1.875rem .625rem;
    @include desk{
        flex-direction: initial;
        position: absolute;
        bottom: 2.5625rem;       
        max-width: 62.5rem;
        right: 8.75rem;
        
    }
    @include desk2{
        flex-direction: column;
        //width: 50%;
        left: 3.125rem;
        bottom: -24.875rem;

    }
    &__cover{
        display: flex;
        flex-direction: column;
        box-shadow: none;
        gap: 3.75rem;
        @include desk{
            display: flex;
            flex-direction: row;
            //padding: 0 5.3125rem 0 1.875rem;
            background: var(--c-white);
            border-radius: 17.5rem;
            gap: 3.75rem;
            height: 6.25rem;
            padding: 0 0 0 1.875rem;
        }
        @include desk2{
            border-radius: 3.125rem;
            flex-direction: column;
            height: auto;
            box-shadow: 1px 1px 30px  var(--c-silver);
            padding: 1.875rem;
            z-index: 1;
        }
    }

    &__location {
        display: flex;
        position: relative;
        gap: .625rem;
        width: 100%;
        @include desk{
            width: auto;
            align-items: center;
           
        }
        img {
            height: fit-content;
        }
    }

    &__link {
        margin: 0 0 .5rem;
        color: var(--c-black-light);
        font-family: sans-serif;
        font-size: 1.25rem;
    }

    &__sub {
        margin: 0;
        color: var(--c-silver);
        font-family: sans-serif;
        font-size: .875rem;
    }

    &__input {
        display: none;
        position: absolute;
        width: 100%;
        z-index: 1;

        input {
            border-radius: .3125rem;
            padding: .3125rem;
            width: 100%;
        }
    }

    &__date {
        display: none;
        position: absolute;
        width: 100%;
        z-index: 1;

        input {
            border-radius: .3125rem;
            padding: .3125rem;
            background-color: var(--c-white);
            width: 100%;
        }
    }

    &__date3 {
        display: none;
        position: absolute;
        width: 100%;
        z-index: 1;

        input {
            border-radius: .3125rem;
            padding: .3125rem;
            background-color: var(--c-white);
            width: 100%;
        }
    }

    &__select {
        display: none;
        position: absolute;
        width: 100%;
        z-index: 1;

        select {
            border-radius: .3125rem;
            padding: .3125rem;
            background-color: var(--c-white);
            width: 100%;
        }
    }

    &__search {
        background-color: var(--c-green);
        padding: 1.25rem;
        border-radius: 30px;
        color: var(--c-white);
        font-family: 'Open Sans';
        display: flex;
        align-items: center;
        gap: .3125rem;
        position: relative;
        @include desk{
            border-radius: 17.5rem;
            height: 100px;
            padding: 0 46px;
        }
        
    }

    &__searchInput {
        //display: none;
        position: absolute;
        left: -18.75rem;
        transition: ease-in 0.25s;
        @include desk{
            display: none;
        }

        input {
            border-radius: 1.875rem;
            height: 2.9375rem;
            padding: .625rem;
            width: 100%;
            border: 1px solid #fff;
            box-shadow: 0px 0px 50px black;
        }

    }
}

.hide {
    display: flex;
    top: 1.4375rem;
    justify-content: center;

}

.searchShow {
    display: flex;
    left: 3.125rem;
    transition: ease-in 0.25s;

}