.header {
    display: flex;
    //justify-content: space-between;
    // position: relative;
    padding: 0;
    position: fixed;
    width: 94%;
    justify-content: space-between;
    padding: 16px;
    background-color: var(--c-white);
    z-index: 999;
    top: 0;
    margin: 0;

    @include desk {
        justify-content: center;
        padding-inline: 5rem;
        position: relative;
        padding: 0;
        margin: 40px 0 0;
    }

    &__cover {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;
    }

    &__burger {
        background-color: var(--c-green);
        padding: 0 .3125rem;
        width: 100%;
        max-width: 7%;
        display: grid;
        align-items: center;
        border-radius: .625rem;

        a {
            border-bottom: 2px solid var(--c-white);
            display: flex;
            position: relative;
            transition: ease-in 0.25s;


            &::after {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                top: .3125rem;
                border-bottom: 2px solid var(--c-white);
                transition: ease-in 0.25s;
            }

            &::before {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                bottom: .1875rem;
                border-bottom: 2px solid var(--c-white);
                transition: ease-in 0.25s;
            }
        }

        @include desk {
            display: none;
        }
    }

    .active.open {

        border-bottom: 2px solid transparent;
        display: flex;
        position: relative;
        transition: ease-in 0.25s;

        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            top: 0;
            border-bottom: 2px solid var(--c-white);
            transform: rotate(45deg);
            transition: ease-in 0.25s;

        }

        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            top: 0;
            border-bottom: 2px solid var(--c-white);
            transform: rotate(-45deg);
            transition: ease-in 0.25s;
        }



    }

    &__nav {
        width: 30%;
        top: 2.8125rem;
        gap: .625rem;
        border-radius: .3125rem;
        padding: .3125rem;
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: var(--c-green);
        left: -100%;
        z-index: 1;
        transition: ease-in 0.25s;

        @include desk {
            position: initial;
            flex-direction: row;
            background: transparent;
            gap: 2.5rem;
            width: 100%;
            justify-content: center;
        }

        a {
            text-decoration: none;
            color: var(--c-white);
            font-family: "Open Sans";
            font-weight: 400;
            font-size: 1rem;
            text-align: center;

            @include desk {
                color: var(--c-black-light);
                line-height: 1.5rem;
            }

        }
    }

    &__nav.open {
        transition: ease-in 0.25s;
        display: flex;
        flex-direction: column;
        left: 0;
        padding: .3125rem;
        gap: .625rem;
        width: 97%;
        z-index: 1;

        @include desk {
            position: initial;
            flex-direction: row;
            background: transparent;
            gap: 2.5rem;
            width: 100%;
            justify-content: center;
        }


    }


    &__login {
        text-decoration: none;
        background-color: var(--c-green);
        color: var(--c-white);
        padding: .625rem 1.25rem;
        border-radius: 2.1875rem;
        font-size: .875rem;
        font-weight: 400;
        font-family: "open sans";
        line-height: 1.25rem;
        //position: absolute;
        //right: 0;
    }
}