.leisure {
    margin-top: 100px;
    @include desk{
        display: flex;
        padding: 9.1875rem 0 0;
        margin-top: 0;
    }   
    &__title {
        font-family: "open sans";
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 40px;
        color: var(--c-black);
        @include desk{
            margin: 0 0 1.25rem;
            line-height: 3.125rem;
        }
    }

    &__sub {
        font-family: "open sans";
        font-size: 1rem;
        font-weight: 400;
        color: var(--c-silver);
        margin: .625rem 0 3.125rem;
        line-height: 1.75rem;
    }

    &__bnt {
        font-family: "open sans";
        font-size: 1rem;
        font-weight: 600;
        color: var(--c-white);
        background: var(--c-green);
        text-decoration: none;
        padding: 1rem 2rem;
        border-radius: 2.1875rem;
    }

    &__options {
        margin: 9.1875rem  0 0;
        @include desk{
            margin: 0;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            align-items: end;
            padding: 0;
            gap: 1.5rem;
            justify-content: center;
            
        }
    }

    &__select {
        display: flex;
        width: 12.0625rem;
        height: 12.0625rem;
        justify-content: center;
        align-items: center;
        border-radius: .5rem;
        @include mobile{
            width: 9.0625rem;
            height: 9.0625rem;
        }
        @include mobileSmall{
            width: 7.0625rem;
            height: 7.0625rem;
        }
        
        border: 1px solid rgb(232, 232, 232);
        &:hover{
            box-shadow: 0px 0px 15px 1px rgb(232, 232, 232);
            cursor: pointer;            
        }

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            font-family: "open sans";
            font-weight: 400;
            font-size: 1rem;
            color: var(--c-black-light);
            gap: 1.5rem;

        }        
    }
}